@{
    ViewData["Title"] = "Info";
}

    <div class="text-center">
        <h1 class="display-4">About Winterfell</h1>
        <p>Learn about the values of the North.</p>

        @* link to locations page *@
        <a asp-controller="Info" asp-action="Locations">Locations</a>

        <br />

        @* link to people page *@
        <a asp-controller="Info" asp-action="People">People</a>

        <br />

        @* link to history page *@
        <a asp-controller="Info" asp-action="History">Winterfell History</a>

        <br />

        @* link to quiz page *@
        <a asp-controller="Info" asp-action="Quiz">Take a Quiz</a>
    </div>