@{
    ViewData["Title"] = "Important Figures";
}

<div class="text-center">
    <h1 class="display-4">Important Figures</h1>
    <p>Significant people who are or have been part of this community.</p>
</div>