@{
    ViewData["Title"] = "Contact";
}

    <div class="text-center">
        <h1 class="display-4">Contact</h1>
        <p>Use contact info to get in touch with this community.</p>
        <br />
        <a asp-controller="Home" asp-action="Message">Click here to submit a message.</a>
    </div>