@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Winterfell</h1>
        <p>Explore the beauty of the North.</p>

        <br />

        @* link to contact page *@
        <a asp-controller="Home" asp-action="Contact">Contact</a>

        <br />

        @* link to message page *@
        <a asp-controller="Home" asp-action="Message">Send a Raven</a>

        <br />

        @* link to single view page *@
        <a asp-controller="Home" asp-action="Messages">View Messages</a>

    </div>
